@model GigHub.ViewModels.GigDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div id="details" class="details">
    <span class="artist">@Model.ArtistName</span>
    @if (Model.IsAuthorized)
    {
        <button class="btn btn-sm pull-right js-toggle-following follow"+
                 @(Model.IsFollowing ? "btn-info" : "btn-default")
                data-artist-id="@Model.ArtistId">
            Follow
        </button>
    }
    <p>
        Performing at
        <span>@Model.Venue</span>
        on
        <span class="date">@Model.Date at @Model.Time</span>
    </p>
    @if (Model.IsAuthorized && Model.IsAttending)
    {
        <p>You are going to this event.</p>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            GigDetailsController.init("#details");
        });
    </script>
}